/* #region Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

/* #endregion Utility */
/* #region DEBUG */

.dbg>header {
    background-color: chartreuse;
}

.dbg .jumbotron {
    background-color: darkcyan;
    height: 500px;
}

.dbg .jumbo_text {
    background-color: green;
}

.dbg .business_plan {
    background-color: cornflowerblue;
    border-bottom: 2px solid red;
}

.dbg .col4 {
    background-color: deepskyblue;
    width: 50%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem;
}

.dbg .office {
    background-color: aqua;
    width: 100%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem;
}

.dbg .card {
    width: 200px;
    height: 500px;
    background-color: deeppink;
    opacity: 0.5;
}

.dbg .office_card {
    width: auto;
    height: 200px;
    background-color: deeppink;
    opacity: 0.5;
}

.dbg .item80 {
    background-color: mediumvioletred;
    height: 400px;
    width: 60%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.dbg .item20 {
    background-color: fuchsia;
    width: 40%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.dbg .pass_less {
    background-color: deepskyblue;
    width: 33.33%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem;
}
.dbg .image{
    background-color:purple;
    width: auto;
    height: 100px;
}

/* #endregion DEBUG */

/* #region common HEADER */

#app_header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

.container-linkmenu {
    width: 100%;
    margin: auto;
    position: relative;
}

ul.listline {
    list-style: none;
    gap: 1rem;
}

.menu-rg {
    position: absolute;
    right: 0;
}

/* #endregion common */

/* #region common MAIN */

.textcenter {
    text-align: center;
}

.jumbotron {
    justify-content: center;
    align-items: center;
}

.container_jf {
    height: 400px;
    background-color: grey;
    max-width: 60%;
}

.business_plan {
    width: 50%;
    margin: auto;
    margin-top: 5rem;
}

.business_cards {
    width: 50%;
    margin: auto;
}

.col4 {
    width: calc((100% / 12) * 4);
}

.partner{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.more_operations{
    flex-wrap: wrap;
}

.pass_less{
    width: calc((100% / 12) * 4);
}




    /* #endregion common MAIN */