/* #region Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

:root {
    --ds-btn: #0061ff;
    --ds-primary: #b4d0e7;
    --ds-light: #ffffff;
    --ds-txtbanner: #610c2f;
    --ds-designt: #a2d39b;
    --ds-asu: #61082b;
    --ds-uf: #0093ce;
    --ds-topps: #ff1c1c;
    --ds-wbr: #d5001f;
    --ds-hearts: #b4d0e7;
    --ds-lonely: #0d2481;
    --ds-clear: #ffd830;
}

a {
    text-decoration: none;
}


/* #endregion Utility */
/* #region DEBUG */

.dbg>header {
    background-color: chartreuse;
}

.dbg .jumbotron {
    background-color: darkcyan;
    height: 500px;
}

.dbg .jumbo_text {
    background-color: green;
}

.dbg .business_plan {
    background-color: cornflowerblue;
    border-bottom: 2px solid red;
}

.dbg .col4 {
    background-color: deepskyblue;
    width: 50%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem;
}

.dbg .office {
    background-color: aqua;
    width: 100%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem;
}

.dbg .card {
    width: 200px;
    height: 500px;
    background-color: deeppink;
    opacity: 0.5;
}

.dbg .office_card {
    width: auto;
    height: 200px;
    background-color: deeppink;
    opacity: 0.5;
}

.dbg .item80 {
    background-color: mediumvioletred;
    height: 400px;
    width: 60%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.dbg .item20 {
    background-color: fuchsia;
    width: 40%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.dbg .pass_less {
    background-color: deepskyblue;
    width: 33.33%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem;
}

.dbg .image {
    background-color: purple;
    width: auto;
    height: 100px;
}

.dbg .jumbottom {
    background-color: cadetblue;
    height: 500px;
}

.dbg .bring_db {
    background-color: mediumslateblue;
    height: 200px;
    padding: 2rem;
}


/* #endregion DEBUG */

/* #region common HEADER */

#app_header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 1rem 1.5rem;
    background-color: var(--ds-light);
    box-shadow: 2px 2px 8px gray;
}

.logo {
    gap: 2px;
}

.container-linkmenu {
    width: 100%;
    margin: auto;
    color: black;
    justify-content: space-between;
}

.listline {
    list-style: none;
    gap: 1rem;
    text-decoration: none;
}

.menu-rg {
    right: 0;
}

.menu-lf a {
    color: black;
}

.menu-rg a {
    color: black;
}

.btn {
    /* <a> ancor tag: quando deve assomigliare a un button sempre INLINE-BLOCK! */
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.btn-blue {
    background-color: var(--ds-btn);
    color: var(--ds-light);
}

/* #endregion common */

/* #region common MAIN */

.textcenter {
    text-align: center;
}

.container_jumbo {
    max-width: 1152px;
    margin: auto;
}

.one_place {
    max-width: 1152px;
    margin: auto;
    font-size: 30px;
    padding-top: 5rem;
}

.jumbotron {
    position: relative;
    max-width: 1152px;
    margin: auto;
    padding-top: 0;
    position: relative;
}

.w40 {
    width: 40%;
    margin-bottom: 2rem;
    
}

.call_to_action .jumbobtn{
    display: inline-block;
    color:var(--ds-light);
    margin-bottom: 2rem;
    background-color: var(--ds-btn);
    
}
.call_to_action .jumbolink{
    display: block;
    color: black;
}

.w60 img{
    width: 60%;
    position: absolute;
    right: 0;
    top: 245px;
}

/* .jumbotron img{
    position: absolute;
    left: 0;
    bottom: 0;
} */

.business_plan {
    width: 50%;
    margin: auto;
    margin-top: 5rem;
}

.btn_radio {
    margin-top: 2rem;
}

.business_cards {
    margin: auto;
    width: 50%;
    padding: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col4 {
    width: calc((100% / 12) * 3);
}

.col12 {
    width: 100%;
}

.card_4 {
    border: 1px solid gray;
    width: 100%;
    font-size: 10px;
}

.up_banner {
    height: 2rem;
    border-bottom: 1px solid gray;
    padding: 2px;
    align-items: center;
}

.up_banner ul {
    list-style: none;
    display: flex;
    width: auto;
    justify-content: center;
}

.middle_banner ul {
    list-style: none;
    width: auto;

}

.card_title ul {
    list-style: none;
    padding: 1.5rem 1rem;
}

.middle_banner li {
    margin: 0.4rem 1rem;
}

.btn_card {
    margin: 1rem;
}

.buy_now a {
    display: flex;
    text-decoration: underline;
    margin-bottom: ;
}

.grayline {
    width: 10px;
    height: 10px;
    margin-bottom: 4px solid gray;
}

.points_plan ul {
    list-style: none;
    margin: 0.4rem 1rem;
}

.points_plan h5 {
    list-style: none;
    margin: 0.4rem 1rem;
}

.card_12 {
    border: 2px solid gray;
    width: 100%;
    height: 200px;
    margin-top: 1rem;
}

.partner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.more_operations {
    flex-wrap: wrap;
}

.pass_less {
    width: calc((100% / 12) * 4);
}

.fivehundredthousen_team {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.space_between {
    justify-content: space-between;
}

.combobox {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* #endregion common MAIN */

/* #reagion common FOOTER */

#app_footer {
    background-color: black;
    padding: 3rem;
    color: white;
}


/* #endregion common FOOTER */