/* #region Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #endregion Utility */

/* #region common HEADER */
.container {
    width: 100%;
    margin: auto;
    position: relative;
}

.d-flex {
    display: flex;
}

ul.listline {
    list-style: none;
    gap: 1rem;
}

.menu-rg {
    position: absolute;
    right: 0;
}
/* #endregion common */

/* #region DEBUG */

.dbg>header {
    background-color:chartreuse;
}

/* #endregion DEBUG */